*{
    margin: 0;
    padding: 0;
}

.nome-busca {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

@media screen and ( min-device-width:1200px){
    .grade-videos {
        display: grid;
        justify-content: center;
        margin-top: 25px;
        align-items: center;
        text-align: center;
        row-gap: 1px;
        grid-template-columns: repeat(4,20%);
        font-family: cursive;
        position: relative;
    }
}

@media screen and ( max-device-width:1200px){
    .grade-videos2 {
        justify-content: center;
        margin-left: 42vh;
    }

}
header {
    background-color: rgb(230, 19, 19)   ;
    color: whitesmoke;
}
header button {
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width:  14%;
    text-align: center;
}
.imagem {
   width: 12em;
   height: 12em;;
   border-radius: 10%; 
}
.grade-videos {
    display: grid;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    text-align: center;
    row-gap: 1px;
    grid-template-columns: repeat(4);
    font-family: cursive;
    position: relative;
}
footer {
    display: flex;
    text-align: start;
    background-color: black;
    color: whitesmoke;
    padding: 25px;
    margin-top: 150px;
}
.grade-videos2 {
    display: grid;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    text-align: start;
    row-gap: 80px;
    font-family: cursive;
    margin-top: 10px;
}
div h2 {
    margin-top: 10px;
}
#voltar {
    padding: 8px;
    display: flex;
    width: 45px;
}

